page-box {
    #navtxt{
        text-align: center;
        font-size: 1rem;
        font-family: 'Changa', sans-serif;   
        padding-right:50px; 
    }
    .back{
        background-image: url(../../assets/imgs/back.png);
    }
}
